* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  background-color: lightblue;
}

body {
  zoom: 90%;
}

#container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 3em;
  padding: 20px 0 0;
}

.board-row {
  overflow: hidden;
}

.board-tile {
  width: 77px;
  height: 77px;
  background-color: darkblue;
  border: 2px solid black;
  float: left;
}

.hidden-tile {
  background-color: lightblue;
  border: 1px solid lightblue;
  border-radius: 0;
}

#game-board {
  margin: 20px auto;
  width: 616px;
  font-size: 0;
}

#game-board-demo {
  width: 620px;
  height: 616px;
  display: inline-block;
  font-size: 0;
}

#instructions-and-demo {
  height: 618px;
}

.game-button {
  font-size: 2em;
  margin: 10px 0;
  background-color: gold;
  border-radius: 10px;
  height: 80px;
  width: 200px;
}

#how-to-play-container {
  text-align: left;
  padding: 10px 10px 0 40px;
  min-width: 400px;
  width: 40%;
  border: 5px solid black;
  font-size: 1.5em;
  line-height: 1em;
  display: inline-block;
  position: relative;
  bottom: 200px;
  margin: 0 50px 0 0;
}

ul li {
  list-style-type: square;
  margin: 20px 0;
}

#instructions-title {
  margin: 5px;
  text-align: center;
  font-size: 1.75em;
}

#charge-button {
  display: none;
}

.channel-render {
  background-color: dimgrey;
}

.selected.channel-render {
  background-color: gold;
}

.channel-render.charge-aligned {
  background-color: black;
}

.channel-render.charge-aligned.selected {
  background-color: gold;
}

.channel-render.charged {
  background-color: aqua;
}

.channel-render.spent {
  background-color: darkblue;
}

.selected {
  background-color: gold;
}

.source {
  background-color: red;
}

.source.charged {
  background-color: aqua;
  animation: start-blink 2s infinite;
}

.charged {
  background-color: aqua;
}

.sink {
  background-color: green;
}

.sink.charged {
  background-color: aqua;
  animation: end-blink 2s infinite;
}

@-webkit-keyframes start-blink {
  0%,
  49% {
    background-color: aqua;
    border: 10px solid red;
  }

  50%,
  100% {
    background-color: #e50000;
  }
}

@-webkit-keyframes end-blink {
  0%,
  49% {
    background-color: aqua;
    border: 10px solid green;
  }

  50%,
  100% {
    background-color: green;
  }
}

.timer-display {
  font-size: 2em;
}

.charged.charge-phase-0 {
  background-color: aqua;
}

.charged.charge-phase-1 {
  background-color: deepSkyBlue;
}

.charged.charge-phase-2 {
  background-color: mediumPurple;
}

.charged.charge-phase-3 {
  background-color: deepPink;
}

.charged.charge-phase-4 {
  background-color: red;
}

.spent {
  animation: spent-blink 2s infinite;
}

@-webkit-keyframes spent-blink {
  0%,
  33% {
    background-color: black;
  }

  66%,
  100% {
    background-color: gold;
  }

  66%,
  100% {
    background-color: aqua;
  }
}
